<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">New SoS</h4>
                    <p class="card-category">Follow the steps below</p>
                </div>
                <div class="card-body">
                    <mat-horizontal-stepper labelPosition="bottom" #stepper>
                        <mat-step [stepControl]="firstFormGroup">
                            <form [formGroup]="firstFormGroup">
                                <ng-template matStepLabel>Upload your Mkaos Models</ng-template>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="SoS Name" type="text" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="SoS Description" type="text" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">

                                            <input matInput placeholder="Select your MKaos Model">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <button mat-button type="button" class="mat-fab mat-mini" color="primary"
                                            (click)="fileInput.click()">
                                            <i class="material-icons" data-notify="icon">attach_file</i>
                                        </button>
                                        <input hidden type="file" #fileInput>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">

                                            <input matInput placeholder="Select your Contituents Model">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <button mat-button type="button" class="mat-fab mat-mini" color="primary"
                                            (click)="multipeFileInput .click()">
                                            <i class="material-icons" data-notify="icon">attach_file</i>
                                        </button>
                                        <input hidden type="file" #multipeFileInput multiple>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Add new stakeholder" type="text" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <button mat-button type="button" class="mat-fab mat-mini" color="primary">
                                            <i class="material-icons" data-notify="icon">add_box</i>
                                        </button>
                                        <input hidden type="file" #fileInput>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="profile">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Teachers</td>
                                                                <td class="td-actions text-right">
                                                                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                                            <i class="material-icons">edit</i>
                                                                        </button>
                                                                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                                            <i class="material-icons">close</i>
                                                                        </button>
                                                                    </td>
                                                            </tr>
                                                            <tr>
                                                                    <td>Students</td>
                                                                    <td class="td-actions text-right">
                                                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                                                <i class="material-icons">edit</i>
                                                                            </button>
                                                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                                                <i class="material-icons">close</i>
                                                                            </button>
                                                                        </td>
                                                                </tr>                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div>
                                                <button mat-raised-button matStepperNext class="btn btn-danger">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </mat-step>
                        <mat-step [stepControl]="secondFormGroup" optional>
                            <form [formGroup]="secondFormGroup">
                                <ng-template matStepLabel>Fill out the services URI for constituents systems capacities</ng-template>
                                <app-constituents></app-constituents>
                                <div>
                                    <button mat-raised-button matStepperPrevious class="btn btn-danger">Back</button>
                                    <button mat-raised-button matStepperNext class="btn btn-danger">Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <h3>You are now done.</h3>
                            <br> <br>
                            <div>
                                <button mat-raised-button matStepperPrevious class="btn btn-danger"> Back</button>
                                <button mat-raised-button matStepperNext class="btn btn-danger" (click)="stepper.reset()">Finish</button>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>



                </div>
            </div>
        </div>
    </div>
</div>