<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Educational SoS </h4>
                        <p class="card-category"> Assign the roles for the stackholders</p>
                    </div>
                    <div class="card-body">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    The Educational SoS satisfying stakeholder's needs
                                </mat-expansion-panel-header>
                                <div class="form-check">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="form-check-label" style="color: #000;">
                                                    <input class="form-check-input" type="checkbox"
                                                        value="" enabled>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                    Teachers
                                                </label>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-check-label" style="color: #000;">
                                                    <input class="form-check-input" type="checkbox" 
                                                        value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                    Students
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width ">
                                                    <input matInput placeholder="New label" type="text">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            The Educational SoS satisfying functional needs
                                        </mat-expansion-panel-header>

                                        <div class="form-check">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label class="form-check-label" style="color: #000;">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="" enabled>
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                            Teachers
                                                        </label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="form-check-label" style="color: #000;"> 
                                                            <input class="form-check-input" type="checkbox" 
                                                                value="">
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                            Students
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width ">
                                                            <input matInput placeholder="New label" type="text">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    Students learn a new subject
                                                </mat-expansion-panel-header>
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    Teachers teach a course properly
                                                </mat-expansion-panel-header>
                                                <div class="form-check">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <label class="form-check-label" style="color: #000;">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="" enabled>
                                                                    <span class="form-check-sign">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                    Teachers
                                                                </label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="form-check-label" style="color: #000;">
                                                                    <input class="form-check-input" type="checkbox" 
                                                                        value="">
                                                                    <span class="form-check-sign">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                    Students
                                                                </label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <mat-form-field class="example-full-width ">
                                                                    <input matInput placeholder="New label" type="text">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>

                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            Teachers registered sucessfully
                                                        </mat-expansion-panel-header>

                                                        <div class="form-check">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label class="form-check-label" style="color: #000;">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" enabled>
                                                                        <span class="form-check-sign">
                                                                            <span class="check"></span>
                                                                        </span>
                                                                        Teachers
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label class="form-check-label">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="">
                                                                        <span class="form-check-sign">
                                                                            <span class="check"></span>
                                                                        </span>
                                                                        Students
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <mat-form-field class="example-full-width ">
                                                                        <input matInput placeholder="New label" type="text">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <button mat-raised-button class="btn btn-danger">Execute
                                                            mission</button> -->

                                                    </mat-expansion-panel>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            Courses managed sucessfully
                                                        </mat-expansion-panel-header>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            The Educational SoS satisfying non functional needs
                                        </mat-expansion-panel-header>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>