<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">New SoS</h4>
          <p class="card-category">Follow the steps below</p>
        </div>
        <div class="card-body">
          <mat-horizontal-stepper labelPosition="bottom" #stepper>
            <mat-step [stepControl]="firstFormGroup" [completed]="true">
              <form [formGroup]="firstFormGroup" #sosForm="ngForm">
                <ng-template matStepLabel>Upload your Mkaos Models</ng-template>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        placeholder="SoS Name"
                        [(ngModel)]="sos.name"
                        [ngModelOptions]="{ standalone: true }"
                        type="text"
                        required
                        name="name"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        placeholder="SoS Description"
                        [(ngModel)]="sos.description"
                        [ngModelOptions]="{ standalone: true }"
                        type="text"
                        required
                        name="description"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        placeholder="Select your Mission model"
                        [(ngModel)]="mkaos_model_name"
                        [ngModelOptions]="{ standalone: true }"
                        type="text"
                        [readonly]="true"
                        required
                        name="mkaos_model"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <button
                      mat-button
                      type="button"
                      class="mat-fab mat-mini"
                      color="primary"
                      (click)="fileInput.click()"
                    >
                      <i class="material-icons" data-notify="icon"
                        >attach_file</i
                      >
                    </button>
                    <input
                      hidden
                      type="file"
                      [(ngModel)]="mkaos_model_to_upload"
                      (change)="handleMkaosModel($event.target.files)"
                      #fileInput
                    />
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        placeholder="Select your Constituents models"
                        [(ngModel)]="constituents_models_name"
                        [ngModelOptions]="{ standalone: true }"
                        [readonly]="true"
                        type="text"
                        required
                        name="constituents_models"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <button
                      mat-button
                      type="button"
                      class="mat-fab mat-mini"
                      color="primary"
                      (click)="multipeFileInput.click()"
                    >
                      <i class="material-icons" data-notify="icon"
                        >attach_file</i
                      >
                    </button>
                    <input
                      hidden
                      type="file"
                      [(ngModel)]="constituents_models_to_upload"
                      (change)="handleConstituintsModels($event.target.files)"
                      #multipeFileInput
                      multiple
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        placeholder="Add new stakeholder"
                        [(ngModel)]="stakeholder.name"
                        [ngModelOptions]="{ standalone: true }"
                        type="text"
                        name="name"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <button
                      mat-button
                      type="button"
                      class="mat-fab mat-mini"
                      color="primary"
                      (click)="addStake()"
                    >
                      <i class="material-icons" data-notify="icon">add_box</i>
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="card-body">
                      <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                          <table class="table">
                            <tbody>
                              <tr
                                *ngFor="
                                  let stakes of stakeholders;
                                  let i = index
                                "
                              >
                                <td>{{ stakes.name }}</td>
                                <td class="td-actions text-right">
                                  <button
                                    mat-raised-button
                                    type="button"
                                    matTooltip="Remove"
                                    [matTooltipPosition]="'above'"
                                    class="btn btn-danger btn-link btn-sm btn-just-icon"
                                    (click)="removeStake(i)"
                                  >
                                    <i class="material-icons">close</i>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button
                      mat-raised-button
                      class="btn btn-danger"
                      (click)="save(stepper)"
                    >
                      Next
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel
                  >Fill out the services URI for constituents systems
                  capacities</ng-template
                >
                <div
                  class="row"
                  *ngFor="let model of sos.constituents; let i = index"
                >
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title"
                              >Constituent System:</span
                            >
                            <p>{{ model.name }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <table class="table">
                          <tbody>
                            <tr *ngFor="let service of model.services">
                              <td width="20%">{{ service.name }}</td>
                              <td width="80%">
                                <mat-form-field class="example-full-width">
                                  <input
                                    matInput
                                    placeholder="API link for this service"
                                    [(ngModel)]="service.link"
                                    [ngModelOptions]="{ standalone: true }"
                                    type="text"
                                    required
                                    name="path"
                                  />
                                </mat-form-field>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <button
                    mat-raised-button
                    matStepperPrevious
                    class="btn btn-danger"
                  >
                    Back
                  </button>
                  <button
                    mat-raised-button
                    matStepperNext
                    class="btn btn-danger"
                    (click)="updateServices()"
                  >
                    Next
                  </button>
                </div>
              </form>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</div>
