<nav class="navbar navbar-expand-lg bg-dark navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center">
      <h2>TESoS</h2>
    </div>
    <div class="justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">
            <i class="material-icons">home</i>
            <p>
              <span class="d-lg-none d-md-block">Home</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/add']" class="nav-link">
            <i class="material-icons" data-notify="icon">add_circle_outline</i>
            <p>
              <span class="d-lg-none d-md-block">New SoS</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
