<div class="main-content">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <h4 class="card-title">{{ sos.name }}</h4>
            <p class="card-category">Test Requirements:</p>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a
                  mat-button
                  class="nav-link active"
                  href="#unit"
                  data-toggle="tab"
                  (click)="changeCoverage('unit')"
                >
                  <i class="material-icons">bug_report</i> Unit
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a
                  mat-button
                  class="nav-link"
                  href="#integration"
                  data-toggle="tab"
                  (click)="changeCoverage('integration')"
                >
                  <i class="material-icons">bug_report</i> Integration
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a
                  mat-button
                  class="nav-link"
                  href="#system"
                  data-toggle="tab"
                  (click)="changeCoverage('system')"
                >
                  <i class="material-icons">bug_report</i> System
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li style="align-self: end; margin-left: 50px">
                <h4>Coverage: {{ coverage }}%</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive">
        <div class="tab-content">
          <div class="tab-pane active" id="unit">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Id</th>
                <th>Model</th>
                <th>Name</th>
                <th>Link</th>
                <th>Check</th>
              </thead>
              <tbody *ngFor="let m of sos.constituents">
                <tr *ngFor="let serv of m.services">
                  <td>{{ serv.id }}</td>
                  <td>{{ m.name }}</td>
                  <td>{{ serv.name }}</td>
                  <td>{{ serv.link }}</td>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          [attr.checked]="serv.satisfied ? '' : null"
                        />
                        <span class="form-check-sign">
                          <span
                            class="check"
                            (click)="onCheckUnit(serv)"
                          ></span>
                        </span>
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="integration">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Emergent Behavior</th>
                <th>Comunicational Capability</th>
                <th>Check</th>
              </thead>
              <tbody *ngFor="let b of sos.behaviors">
                <tr *ngFor="let cm_cap of b.comunicationalCapabilities">
                  <td>{{ b.name }}</td>
                  <td>{{ cm_cap.name }}</td>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          [attr.checked]="cm_cap.satisfied ? '' : null"
                        />
                        <span class="form-check-sign">
                          <span
                            class="check"
                            (click)="onCheckIntegration(cm_cap)"
                          ></span>
                        </span>
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="system">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Name</th>
                <th>Check</th>
              </thead>
              <tbody>
                <tr *ngFor="let mission of sos.missions">
                  <td>{{ mission.name }}</td>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          [attr.checked]="mission.satisfied ? '' : null"
                        />
                        <span class="form-check-sign">
                          <span
                            class="check"
                            (click)="onCheckSystem(mission)"
                          ></span>
                        </span>
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
